root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,cshtml}]
indent_style = space
indent_size = 4
dotnet_diagnostic.IDE0055.severity = suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:none

[*.md]
trim_trailing_whitespace = false
