@page "/Clients/Index"

<PageTitle>Clients | Index</PageTitle>

<FluentSpacer Width="4" />

<FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween"
             Orientation="Orientation.Horizontal">
    <FluentLabel Color="Color.Accent" Typo="Typography.PageTitle">Clients</FluentLabel>
    <FluentDivider />
    <FluentButton Name="Mode" Title="View Mode"/>
</FluentStack>

<FluentSpacer Width="1" />
<FluentDivider />
<FluentSpacer Width="3" />

<FluentGrid Spacing="1">
    @if (Items is null)
    {
        <FluentGridItem sm="12">
            <p>Add some</p>
        </FluentGridItem>
    }
    else
    {
        foreach (Item item in Items)
        {

            <FluentGridItem sm="12">
                <ClientListViewComponent Content="@item.Name"
                                         LastModification="DateTime.UtcNow"
                                         Status="Empty"
                                         Username="Anonymous"
                                         OnDeleteEvent="@OnDeleteEvent"
                                         OnEditEvent="@OnEditEvent"
                                         OnOverseeEvent="@OnOverseeEvent" />
            </FluentGridItem>

        }
    }
</FluentGrid>
