@page "/"

@* @inject HttpClient http *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

@* @if (markdown == null)
{
    <p>cargando</p>
}
else
{
    <MarkdownSection Markdown="@markdown" />
}

@code{
    private string? markdown;

    protected override async Task OnInitializedAsync()
    {
        markdown = await http.GetStringAsync("Docs/README.md");
    }
} *@