@page "/oversee/{Id}"

@layout MaterialLayout

@inject MaterialService _materialService;

<h3>MaterialOverseePage</h3>

@if(Item is not null)
{
    <PageTitle>@Item.Name | Oversee</PageTitle>

    <p>@Item.Code</p>
    <p>@Item.Name</p>
}
else
{
    <p>error al mostrar el item o fue eliminado</p>
}



@code {
    [Parameter]
    public string Id { get; set; } = default!;

    private MaterialReadDto Item { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(100);
        Item = await GetItemByIdAsync(Id);
    }

    private async Task<MaterialReadDto> GetItemByIdAsync(string id)
    {
        return await _materialService.GetByIdAsync(id);
    }
}
